*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: myfont;
    src: url(./Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: myfont_2;
    src: url(./Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}
body{
    background-color: #1f1b3d;
       height: 100vh;
   /* width: 100%;/ */
   display: flex;
   align-items: center;
   justify-content: center;
}

.container{
    background-color: #3a065f;
    display: flex; 
    border-radius: 8px;
   width: 80%;
   height: 450px;
   /* margin-top: 20px;
    margin-bottom: 20px; */
}
.left_box{
  padding: 20px ;
  width: 50%;
 
}
.heading h2{
    font-size: 40px;
    font-weight: 700;
    font-family: myfont_2;
    color: white;
    /* border: 2px solid green; */
    margin: 25px 40px 0 0;
}
h2 span{
    color: #8e51b6;
}
.para p{
    font-family: myfont;
     font-size: 17px;
     color: white;
     font-weight: 300;
     line-height: 1.5;
    /* border: 2px solid green; */
      margin: 25px 44px 0 0;

}
.box_01{
   
    width: 85%;
    display: flex;
    justify-content: space-between;
    font-family: myfont_2;
    /* border: 2px solid green; */
    color: white;
    margin: 65px 44px 0 0;


}
.right_box{
    position: relative;
    width: 50%;
    background-image: url(../images/image-header-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    flex :1 0; 
    overflow: hidden;
    aspect-ratio: 16 / 9;  
    border-radius: 0 8px 8px 0;
}
.right_box img {
  /* width: 100%;
  height: 100%; */
  border-radius: 8px;
  object-fit:fill;
}
.local{
    font-weight: 200;
}
.right_box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(138, 43, 226, 0.5); 
  mix-blend-mode: multiply;  
  pointer-events: none;      
     
}
@media (max-width: 990px) {

  .container {
    width: 90%;
    height: auto;
    flex-direction: column-reverse;
  }

  .left_box, .right_box {
    width: 100%;
  }

  .right_box {
    border-radius: 8px 8px 0 0 ;
    height: 300px;
  }

  .heading h2 {
    font-size: 32px;
    margin-right: 0;
  }

  .para p {
    font-size: 15px;
    margin-right: 0;
  }

  .box_01 {
    margin-right: 0;
    width: 100%;
  }
}

/* Tablets & small devices */
@media (max-width: 768px) {
  .heading h2 {
    font-size: 28px;
  }

  .para p {
    font-size: 14px;
    line-height: 1.4;
  }

  .box_01 {
  
    align-items: flex-start;
    gap: 10px;
  }

  .right_box {
    height: 250px;
  }
}


@media (max-width: 571px) {
  body {
    height: auto;
    padding: 20px 0;
   
  
  }

  .container {
   
    align-items: center;
    width: 90%;
    height: auto;
  }

  .left_box {
    width: 100%;
    padding: 15px;
    text-align: center;
  }

  .heading h2 {
    font-size: 24px;
  }

  .para p {
    font-size: 13px;
  }

  .box_01 {
    align-items: center;
  }

  .right_box {
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 400px) {
  .heading h2 {
    font-size: 20px;
  }

  .para p {
    font-size: 12px;
  }

  .right_box {
    height: 180px;
  }

  .box_01 {
    font-size: 13px;
    flex-direction: column;

  }
}
