*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: myfont;
    src: url(./Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: myfont_2;
    src: url(./Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}
body{
    background-color: #1f1b3d;
    
}
.main_container{
   height: 100vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.container{
    background-color: #3a065f;
    display: flex; 
    border-radius: 8px;
   max-width: 80%;
   flex-direction: row;
   
}
.left_box{
  padding: 50px ;
  width: 50%;
 
}
.heading h2{
    font-size: 40px;
    font-weight: 700;
    font-family: myfont_2;
    color: white;
    /* border: 2px solid green; */
    margin: 25px 40px 0 0;
}
h2 span{
    color: #8e51b6;
}
.para p{
    font-family: myfont;
     font-size: 17px;
     color: white;
     font-weight: 300;
     line-height: 1.5;
    /* border: 2px solid green; */
      margin: 25px 44px 0 0;

}
.box_01{
   
    max-width: 75%;
    display: flex;
    justify-content: space-between;
    font-family: myfont_2;
    /* border: 2px solid green; */
    color: white;
    margin: 45px 44px 0 0;


}
.right_box{
    position: relative;
    width: 50%;
    background-image: url(../images/image-header-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    flex :1 0; 
    overflow: hidden;
    aspect-ratio: 16 / 9;  
    border-radius: 0 8px 8px 0;
}
.right_box img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit:fill;
}
.local{
    font-weight: 200;
}
.right_box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(138, 43, 226, 0.5); 
  mix-blend-mode: multiply;  
  pointer-events: none;      
     
}
/* @media (width <= 1030px ) {
  .container{
    width:90%;
   margin: 0 auto;
   max-width: 1000px;
  }
  
} */
@media (max-width : 992px){
  .container{
    flex-direction: column-reverse;
    min-width: 326px;
  /* margin: 200px auto; */
  }

  .left_box, .right_box{
    width: 100%;
    padding: 20px;
  }
  .heading h2{
    font-size: 30px;
    margin: auto;
     align-items: center;
    text-align: center;
  }
  .para p{
    margin: auto;
     align-items: center;
    text-align: center;
    font-size: 15px;
    padding: 20px;
  }
  .box_01{
    /* flex-direction: column; */
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: auto;
  }
  .right_box {
    border-radius: 8px 8px 0 0 ;

  }
  @media (max-width:530px) {
    .box_01{
      flex-direction: column;
      gap: 15px;
    }
  }
  @media (max-width: 576px) {
    .container{
      margin: 0;
    }
  .left_box {
    padding: 15px;
  }

  .heading h2 {
    font-size: 26px;
    text-align: center;
  }

  .para p {
    text-align: center;
    font-size: 14px;
  }

  .right_box {
    height: 250px;
  }
  }
}