*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: myfont;
    src: url(./Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: myfont_2;
    src: url(./Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}
body{
    background-color: #1f1b3d;
    
}
.main_container{
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}
.container{
    background-color: #3a065f;
    display: flex; 
    border-radius: 8px;
   margin: 0 150px 0 150px;
}
.left_box{
  padding: 25px ;
  display: grid;
  grid-template-rows: repeat(2,0.20fr);
  gap: 25px;
}
.heading h2{
    font-size: 29px;
    font-weight: 700;
    font-family: myfont_2;
    color: white;
}
h2 span{
    color: #8e51b6;
}
.para p{
    font-family: myfont_2;
     font-size: 16px;
     color: white;
     font-weight: 300;
   
}
.box_01{
    /* border: 2px solid green; */
    margin: 0;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    font-family: myfont_2;
    color: white;
}
.right_box{
    position: relative;
    overflow: hidden;
    aspect-ratio: 16 / 9;  
}
.right_box img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit:fill;
}
.local{
    font-weight: 200;
}
.right_box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(138, 43, 226, 0.5); 
  mix-blend-mode: multiply;  
  pointer-events: none;      
  border-radius: 8px;        
}

@media (max-width: 1024px) {
  .container {
    margin: 0 50px; 
  }

}


@media (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
    text-align: center; 
    margin: 90px;
  }
  .left_box {
    padding: 20px;
  }
  .heading h2 {
    font-size: 22px;
  }
  .para p {
    font-size: 13px;
  }
  .right_box img { 
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px 8px 0 0; 
  }
  .box_01 {
    flex-direction: column; 
    gap: 10px;
  }
}
@media (max-width: 480px) {
  .heading h2 {
    font-size: 18px;
  }
  .para p {
    font-size: 12px;
  }
  .container {
    margin: 10px;
  }
}
